* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}

header {
    height: 100px;
    display: flex;
    background-color: rgba(202, 219, 237, 0.75);
    align-items: center;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-top: 7px;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.menu {
    display: flex;
}

.menu li {
    width: 25%;
    position: relative;
}

.menu li:last-child>a {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #2c71b8;
    text-decoration: none;
    border-left: 1px solid #2c71b8;
}

.menu a:hover {
    background-color: #2c71b8;
    color: white;
}

.submenu {
    display: none;
    flex-direction: column;
    position: absolute;
}

li:hover .submenu {
    display: flex;
    width: 100%;
}

li:hover .submenu li {
    display: flex;
    width: 200%;
    white-space: nowrap;
    color: white;
    background-color: #2c71b8;
    font-size: 21px;
}

li:hover .submenu li a {
    display: flex;
    justify-content: flex-start;
    width: 200%;
    color: white;
    background-color: #2c71b8;
    font-size: 21px;
    padding-left: 15px;
    padding-right: 15px;
}

li:hover .submenu a:hover {
    display: flex;
    justify-content: flex-start;
    width: 200%;
    color: #2c71b8;
    background-color: white;
    font-size: 21px;
}

.formcont {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
}

form {
    display: flex;
    width: 70%;
    border: 1px solid #2c71b8;
    fill-opacity: 10%;
    height: 40px;
    align-items: center;
    justify-content: space-around;
}

.search {
    /* opacity: 1; */
    background: transparent;
    display: flex;
    width: 70%;
    border: none;
    height: 30px;
    color: #2c71b8;
}

input::placeholder {
    color: #2c71b8;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    border: none;
}

.btn {
    display: flex;
    width: 30%;
    max-width: 30px;
    height: 30px;
    border: none;
    background-color: #2c71b8;
    background-image: url("images/smallsearch.png");
    background-repeat: no-repeat;
    background-position: center;
}

.cart {
    display: flex;
    width: 25%;
    max-width: 40px;
    height: 40px;
    margin-left: 10%;
    border: none;
    background-color: #ffffff;
    background-image: url("images/Cart.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.counter {
    display: flex;
    background-color: #2c71b8;
    position: absolute;
    width: 20px;
    height: 20px;
    left: -7.5px;
    top: -7.5px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}

main {
    height: 2740px;
}

.slider {
    height: 400px;
    border-bottom: 1px solid white;
    font-size: 80px;
    color: white;
    display: flex;
    align-items: center;
}

.slidecont {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.contmain {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 2335px;
}

.devtype {
    height: 35%;
    border: 1px solid rgba(202, 219, 237, 0.75);
    width: 270px;
    display: flex;
    flex-direction: column;
    border-left: none;
    border-bottom: none;
    border-top: none;
    background-color: rgba(202, 219, 237, 0.75);
    opacity: 0.75;
}

[class*="part-"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 20px;
}

.part-1 {
    height: 17%;
    padding-top: 15px;
    padding-bottom: 15px
}

.part-2 {
    height: 33%;
    padding-top: 15px;
    padding-bottom: 15px
}

.part-3 {
    height: 33%;
}

.part-4 {
    height: 17%;
    padding: 15px;
}

.devtypehead {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.part-4 .devtypehead {
    font-weight: normal;
}

.devtyperadio {
    margin-top: 10px;
    margin-bottom: 10px;
}

.products {
    width: 930px;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: none;
    color: white;

}

[class*="prod-"] {
    width: 100%;
}

.prod-head {
    height: 6%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-top: 0;
    padding: 15px;
    padding-left: 0;
}

.headprodlinks {
    width: 100%;
    height: 50%;
    display: flex;
}

.ahplink {
    color: #799fcc;
    text-decoration: none;
    font-size: 18px;
    margin-top: 0;
}


.titlechoice {
    width: 100%;
    height: 50%;
    display: flex;
}

.title {
    width: 50%;
    height: 100%;
    display: flex;
    color: #ffffff;
    font-size: 34px;
    font-weight: bold;

}

.under {
    text-decoration: underline;
}

.choice {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

}

.sortby {
    width: 270px;
    height: 30px;
    display: flex;
    border: 0.5px solid white;
    color: #ffffff;
    background-color: #2c71b8;
    font-size: 18px;
    color: white;
}

.prod-foot {
    height: 6%;
}

.prod-catalog {
    height: 88%;
    display: flex;
    flex-direction: column;
}

.devrow {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-right: 0;
}

[class*="device-"] {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    border: 0.5px solid white;
}

[class*="devimage-"] {
    height: 27%;
    width: 100%;
    background-color: rgba(202, 219, 237, 0.75);
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    align-items: end;
}

[class*="icon-"] {
    height: 30px;
    width: 30px;
    border: 0.5px solid #2c71b8;
    display: flex;
    margin: 5px;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-1 {
    background-image: url("images/icon\ \(8\).png");
}

.icon-2 {
    background-image: url("images/HeartBlueBorder.png");
}

.devimage-1 {
    background-image: url("images/Display.png");
}

.devimage-2 {
    background-image: url("images/icon\ \(9\).png");
}

.devimage-3 {
    background-image: url("images/APPLE\ WATCH.png");
}

.devimage-4 {
    background-image: url("images/Laptop.png");
}

.devimage-5 {
    background-image: url("images/IPOD.png");
}

.devimage-6 {
    background-image: url("images/iPhone.png");
}

.devimage-7 {
    background-image: url("images/IPOD.png");
}

.devimage-8 {
    background-image: url("images/icon\ \(9\).png");
}

.devimage-9 {
    background-image: url("images/APPLE\ WATCH.png");
}

.devdescription {
    height: 46%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.devdescrtitle {
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    margin-bottom: 10px;

}

.devdescr {
    color: white;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 5px;

}

.devdetailscart {
    height: 27%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.deviceprice {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.uppercase {
    font-size: 22px;
    vertical-align: text-top;
    padding-left: 5px;
}
[class*="cartbutton-"]{
margin: 15px;

    height: 100%;
    width: 100%;
    border: 1px solid white;

}